@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
body{
    background-color: rgba(250, 235, 215, 0.747);
    font-family: 'Poiret One', cursive;
    display: flex;
    justify-content: center;

}
.main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    padding-top: 6em;
      
}
.new-task{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    margin: 5px;
}
.guardar-bt{
    margin-bottom: 1em;
    margin-top: 1em;
    width: 10em;
    background-color: #97CD9F;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 5px;
    border: 0px;
    background-position: center;
}
.task-container{
    display: flex;
    flex-direction: column;
}
.task-container input{
    width: 16em;
    height: 4em;
    margin-left: 49em;
}
.list{
    display: flex;
    flex-direction: column;
    width: 65%;
}
.list-task{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 65%;
        margin: 5px;
}
.r{
    width: 89%;
    display: flex;
    align-items: center;
    font-size: 20px;
}
.l{
    width: 11%;
    display: flex;
    padding-right: 0px;
}
.group{
    display: flex;
    align-items: center;
}

